* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.widthScreen {
    width: 1000px;
}

.nav-main:hover {
    background-color: #555;
    color: white;
}

a {
    cursor: pointer;
    text-decoration: none;
}


